@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body{
    font-family: 'Quicksand', sans-serif; 
    background-color: #E3E7EB;
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    background-color: #F4F3F3;
    height: 8vh;
    padding: 3px;
}
nav div{
    display: flex;
    align-items: center;
}
nav .left{
    flex: 50%;
    padding-left: 90px;
}
nav .left img{
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
}
nav .left ul{
    list-style: none;
}
nav .left ul li{
    display: inline;
}
nav .left ul li a{
    text-decoration: none;
    margin-right: 20px;
    color: #111727;
}
nav .left ul li a.home{
   font-weight: 800;
}
nav .right{
    flex: 50%;
    justify-content: flex-end;
    padding-right: 90px;
}
nav .right a{
    text-decoration: none;
    background-color: #111727;
    padding: 6px 18px;
    color: white;
    border-radius: 10px;
}

.container{
    width: 80%;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px 1px #ABADB0;
    margin: 30px auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
}
.container .bio{
    flex: 70%;
}
.container .bio .link{
    margin: 50px 0 0 0;
}
.container .bio .link a.contact{
    background-color: #111727; 
    color: whitesmoke; 
    border-radius: 15px; 
    margin: 0; 
    padding: 5px 30px; 
}
.container .bio .link a{
    text-decoration: none; 
    margin-left: 20px; 
    color:#111727;
}
.container .bio img{
    width: 15px;
}
.container .bio p{
    text-align: justify;
    width: 90%;
}

.container .div-sosmed{
    margin: 60px 0 0 0;
}
.container .div-sosmed a{
    text-decoration: none; 
    margin: 0 20px 0 0;
    color:#111727;
}
.container .div-sosmed a i{
    font-size: 28px;
}

.container .profile{
    flex: 30%;
    border: 1px ;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 1px #ABADB0;
    background-color: #F8F5F5;
}
.container .profile img{
    width: 100%; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}
.container .profile h2{
    text-align: center; 
    margin: 0; 
    padding: 10px 0 5px 0;
}
.container .profile p{
    text-align: center; 
    padding: 0px 0px 10px 0px; 
    margin: 0;
}

div.contact-from{
        width: 500px;
        margin: 25px auto;

}
div.contact-from input[type=text], input[type=email], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical ; 
}
div.contact-from button{
    background-color: #111727;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}